* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100dvw;
  min-height: 100dvh;

  > header,
  > footer {
    width: 100%;
  }

  > main {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    /* #root 에 자식이 main 하나만 있을 때 (e.g. EmptyLayout) */
    &:is(:first-child):is(:last-child) {
      justify-content: center;
    }

    /* #root 에 main 과 footer 가 있을 때 (e.g. FooterLayout) */
    &:is(:first-child):not(:last-child) {
      justify-content: center;
      height: 100dvh;
      flex: auto;
    }
  }
}
